---
---

<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/combined.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <script type="text/javascript" src="//use.typekit.net/mta6alu.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>
	<div class="main-container">
    

    <header class="information">
      <p class="description"><img src="/img/cover.png" class="logo">
Chasing the Whale is a podcast about independent games by <a href="http://eriksvedang.com/">Erik Svedäng</a> (<a href="https://twitter.com/e_svedang">@e_svedang</a>) and <a href="http://www.madebypixelate.com">Andreas Zecher</a> (<a href="https://twitter.com/andreaszecher">@andreaszecher</a>). If you're not sure who's who while listening: Erik has a Swedish accent, Andreas has a German accent. New episode every Tuesday.</p>
    </header>

		{{ content }}
	</div>
</body>
</html>
