---
---

<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="/css/combined.css">
	<!-- Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
</head>

<body>
	<div class="main-container">

    <header class="information">
      <p class="description"><strong>Chasing the Whale</strong> is a weekly podcast about independent games and related topics by <a href="http://eriksvedang.com/">Erik Svedäng</a> (<a href="https://twitter.com/e_svedang">@e_svedang</a>) and <a href="http://www.madebypixelate.com">Andreas Zecher</a> (<a href="https://twitter.com/andreaszecher">@andreaszecher</a>). If you're not sure who's who while listening: Erik has a Swedish accent, Andreas has a German accent. New episode every Tuesday.</p>
    </header>

		{{ content }}
	</div>
</body>
</html>
