---
layout: base
---

<div class="information">
  <p class="description"><strong>Chasing the Whale</strong> is a weekly podcast about independent games and related topics by <a href="http://eriksvedang.com/">Erik Svedäng</a> (<a href="https://twitter.com/e_svedang">@e_svedang</a>) and <a href="http://www.madebypixelate.com">Andreas Zecher</a> (<a href="https://twitter.com/andreaszecher">@andreaszecher</a>). If you're not sure who's who while listening: Erik has a Swedish accent, Andreas has a German accent. New episode every Tuesday.</p>
	{{ content }}
</div>